table {
    width: 50%;
    margin: 10px auto;
}

table, th,td{
    border-collapse: collapse;
}

thead tr {
    background: #11aa11;
    color: #fff;
}

th, td {
    padding: 5px;
    text-align: center;
}

 thead th:first-child{
    border-top-left-radius: 5px;
}

  thead th:last-child{
    border-top-right-radius: 5px;
}

  tr:nth-child(even){
      background: #777777;
      color: lime;
  }

  tr:last-child {
      border-bottom: #11aa11 solid 3px ;
  }